:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.header {
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

main {
  padding: 0;
  min-height: 70vh;
  width: 100%;
  overflow-x: hidden;
}

.footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: #888;
}
